<%= javascript_include_tag "facebook_all" %>

<legend><%= @trip.name %></legend>
<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <td>Destination:</td>
    <td><%= @trip.destination %></td>
  </tr>
  <tr>
    <td>Start Date:</td>
    <td><%= @trip.start_date %></td>
  </tr>
  <tr>
    <td>End Date:</td>
    <td><%= @trip.end_date %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @trip.description %></td>
  </tr>
  <tr>
    <td>Members:</td>
    <td><%= (@trip.users.collect &:full_name).join(", ") %></td>
  </tr>
</table>



<% if user_signed_in? %>
  <div id='friends'>
    <% if current_user.has_signed_up_using_fb?  %>
      <p><%= link_to  "Invite your facebook friends", '#', :id => 'invite_fb_friends' %></p>

      <%= text_field_tag :invite_friends, nil, :id => 'fb-friends', :placeholder => "Type in friend's name" %>
    <% end %>

    <div id='email-invitation'><%= link_to  "Invite friends to this trip", new_user_invitation_path(:trip_id => @trip.id) %></div>
  </div>
<% end %>


<% if current_user.has_signed_up_using_fb?  %>
  <script>
    $(function(){
      invited_uids = "<%= @trip.collect_uids %>";

      FB.init({
        appId: '129652407201708',
        cookie: false,
        status: true,
        xfbml : true
      });

      $('#fb-friends').hide();

      $('a#invite_fb_friends').click(function(){
        $.ajax({
          url: "https://graph.facebook.com/<%= current_user.fb_id %>/friends?fields=name,picture&access_token=<%= current_user.fb_token %>",
          method: 'get',
          dataType: 'json',

          success: function(friends, textStatus, jqXHR){
            if(jqXHR.status == 200){
              $('#fb-friends').show();

              friends_json = format_json(friends['data']);
              
              $( "#fb-friends" ).autocomplete({
                source: friends_json,

                select: function( event, ui ) {
                  if(invited_uids.indexOf(ui.item.uid) >= 0){
                    alert("You have alredy invited "+ui.item.label+" to this trip.");
                  }else{
                    request.send_trip_request_on_fb(ui);
                  }
                }              
              }).data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                .data( "item.autocomplete", item ).val(item.uid)
                .append( "<a><img src=" + item.profile_pic_url +  "><strong>" + item.label + "</strong></a>" )
                .appendTo( ul );
              }
            }
          }
        });
      });
    });

    var request = {
      send_trip_request_on_fb : function(ui_hash) {
        var ui = ui_hash;
        FB.ui({method: 'apprequests',
          to: ui_hash.item.uid,
          title: 'Invitation to trip',
          message: '<%= current_user.first_name %> added you to his trip to <%= @trip.destination %> on Socialtrip.com',
        }, 
        function(response){
          if(response){
            request.send_trip_request_on_app(ui);
          }
        });
      },
      send_trip_request_on_app : function(ui_hash) {
        create_trip_request(ui_hash.item.uid, ui_hash.item.label);
      }
    }

    var format_json = function(fb_data){
      formatted_json = []

      $.each(fb_data, function(index, data){
        formatted_json.push({"label" : data.name, "uid" : data.id, "profile_pic_url" : data.picture.data.url});
      });

      return formatted_json;
    }

    var create_trip_request = function(fb_uid, full_name){
      $.ajax({
        url: "<%= create_invitation_trip_path(@trip) %>",
        method: 'post',
        dataType: 'json',
        data: {'invitee': {'uid': fb_uid, 'name': full_name}},

        beforeSend: function(xhr) {
          set_csrf_token(xhr);
        },        

        success: function(data, textStatus, jqXHR){
          if(jqXHR.status == 200){

          }
        }
      });
    }
  </script>
<% end %>